@using System.Linq
@model SOTA.Models.UsersPage
@{
    ViewData["Title"] = "ЛК образовательной организации";
}

<h1>Пользователи</h1>

<div class="col-12 col-md-12 col-lg-12 shadow p-3 mb-5 bg-white rounded">




    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="oo-tab" data-toggle="tab" href="#oo" role="tab" aria-controls="oo" aria-selected="true">Список ОО</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="otchet-tab" data-toggle="tab" href="#otchet" role="tab" aria-controls="otchet" aria-selected="false">Отчеты</a>
            </li>

        </ul>
        <div class="tab-content tab-bordered " id="myTabContent2">

            <div class="tab-pane fade show active" id="oo" role="tabpanel" aria-labelledby="oo-tab">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-3">
                            <div id="list-example" class="list-group">
                                @for (int i = 0; i < Model.LisrUsersKlass.Count; i++)
                                {
                                    if (i == 0 || Model.LisrUsersKlass[i - 1].IdOo != Model.LisrUsersKlass[i].IdOo)
                                    {
                                <a class="list-group-item list-group-item-action p-1" href="#oo_@Model.LisrUsersKlass[i].IdOo mo_@Model.LisrUsersKlass[i].IdMo">@Model.LisrUsersKlass[i].MO @Model.LisrUsersKlass[i].OO</a>
                                    }


                                }
                            </div>
                        </div>
                        <div class="col-8 ">
                            <div data-spy="scroll" data-target="#list-example" data-offset="0" style="position: relative; height: 800px; margin-top: .5rem; overflow: auto;">
                                <table class="table  table-sm table-bordered mb-0">
                                    @for (int i = 0; i < Model.LisrUsersKlass.Count; i++)
                                    {
                                        if (i == 0 || Model.LisrUsersKlass[i - 1].IdOo != Model.LisrUsersKlass[i].IdOo)
                                        {
                                    <thead class="table-yel">
                                        <tr>
                                            <td colspan="6">
                                                <h4 id="oo_@Model.LisrUsersKlass[i].IdOo mo_@Model.LisrUsersKlass[i].IdMo"> @Model.LisrUsersKlass[i].OO</h4>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>#</th>
                                            <th>МО</th>
                                            <th>ОО</th>
                                            <th>Логин</th>
                                            <th>Дата регистрации</th>
                                            <th>Управление</th>
                                        </tr>
                                    </thead>
                                        }

                                    <tr>
                                        <td>@Model.LisrUsersKlass[i].Id </td>
                                        <td>@Model.LisrUsersKlass[i].MO</td>
                                        <td>@Model.LisrUsersKlass[i].OO</td>
                                        <td>@Model.LisrUsersKlass[i].Name</td>
                                        <td>@Model.LisrUsersKlass[i].DateReg</td>

                                        <td>
                                            @if (@Model.LisrUsersKlass[i].Pass != null)
                                                {
                                            <a asp-area="" asp-controller="Admin" asp-action="CleanPass" asp-route-idDel="@Model.LisrUsersKlass[i].Id" class="btn btn-danger">Сбросить пароль</a>
                                                }
                                        </td>

                                    </tr>

                                        //   row.OO.Where(x => x.IdMo == Model.Mos[i].Id);


                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="otchet" role="tabpanel" aria-labelledby="search-tab">
                otchet
            </div>
        </div>
    </div>
</div>
