@model SOTA.Models.SpecifikacRedactModel
@{
    ViewData["Title"] = "Создание спецификации";
}

<form method="post">
    <h3>Создание спецификации</h3>
    <div class="col-12 shadow p-3 mb-5 bg-white rounded">
        <div class="container">
            <div class="row table-responsive-md">
                <div class="input-group wrap-input100 validate-input col-12 group">

                    <div class="input-group-prepend ">
                        <div class="input-group-text">
                            <i class="fas fa-comment-alt"></i>
                        </div>
                    </div>
                    <input type="hidden" class="form-control input100" id="id_spec" asp-for=@Model.Spec.Id />
                    <input type="text" class="form-control input100" id="nazv" asp-for=@Model.Spec.Name required />
                    <span class="focus-input100"></span>
                    <label class="label">Название спецификации</label>
                </div>

                <div class="input-group wrap-input100 validate-input col-lg-4 col-xl-4 col-md-4 col-6 group">
                    <div class="input-group-prepend ">
                        <div class="input-group-text">
                            <i class="fas fa-list-alt"></i>
                        </div>
                    </div>
                    <select id="tip" class="form-control input100" asp-for=@Model.Spec.Tip required>
                        @foreach (TipSpec tipspec in Model.TipSpecs)
                        {
                            <option value=@tipspec.Id>@tipspec.Name</option>
                        }
                    </select>
                    <span class="focus-input100"></span>
                    <label class="label">Тип работы</label>
                </div>

                <div class="input-group wrap-input100 validate-input col-lg-4 col-xl-4 col-md-4 col-6 group ">
                    <div class="input-group-prepend ">
                        <div class="input-group-text">
                            <i class="fas fa-list-ul"></i>
                        </div>
                    </div>
                    <select id="predmet" class="form-control input100" asp-for=@Model.Spec.Predm required>
                        @foreach (Predm predm in Model.Predms)
                        {
                            <option value=@predm.Id>
                                @predm.Name
                            </option>
                            ;
                        }
                    </select>
                    <span class="focus-input100"></span>
                    <label class="label">Предмет</label>
                </div>


                <div class="input-group wrap-input100 validate-input col-lg-3 col-xl-3 col-md-3 col-6 group">

                    <div class="input-group-prepend ">
                        <div class="input-group-text">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                    </div>
                    <select class="form-control input100" asp-for=@Model.Spec.Class required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                    <span class="focus-input100"></span>
                    <label class="label">Класс</label>
                </div>

                <div class="input-group wrap-input100 validate-input col-12  group">
                    <h4>Критерии оценивания</h4>
                    <table class="table table-hover table-sm table-bordered shadow" id="TableKrit">
                        <thead class="table-yel text-center">
                            <tr>
                                <th>Баллы</th>
                                <th>Оценка</th>
                                <th>Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i < Model.Kriterocens.Count(); i++)
                            {

                                <tr>
                                    @if (i == 1)
                                    {
                                        <td class="text-center">0 - @Model.Kriterocens[i].MaxBall   </td> }
                                    else
                                    {
                                        <td class="text-center"> @( Model.Kriterocens[i - 1].MaxBall + 1) - @Model.Kriterocens[i].MaxBall    </td>}
                                    <td class="text-center">@Model.Kriterocens[i].Name</td>
                                    <td class="text-center">
                                        <button id="del_kriter" class="btn btn-icon icon-left btn-outline-danger  shadow" asp-controller="UprSpec" asp-route-idkr="@Model.Kriterocens[i].Id" asp-route-idsp="@Model.Kriterocens[i].IdSpec" asp-action="DelKrit"><i class='fas fa-minus'></i> Удалить критерий</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-center">
                                    <button id="Add" form="0" class="btn btn-icon icon-left btn-success col-9 shadow " data-toggle="modal" data-target="#AddKriter">
                                        <i class='fas fa-plus'></i>Добавить критерий
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <input type="hidden" id="krit_id" />
                </div>

                <div class="input-group wrap-input100 validate-input col-12  group">
                    <h4>Стартовая инструкция</h4>
                    <textarea asp-for=@Model.Spec.Instrukc class="input-group-text col-11" style="height: auto; text-align: left;" rows="10"></textarea>


                    <button type="button" class="btn btn-icon icon-left btn-outline-success col-3 shadow" form="0" onclick="SaveIns()">
                        <i class='fas fa-save'></i>Сохранить инструкцию
                    </button>
                    <button type="button" class="btn btn-icon icon-left btn-outline-danger col-3 shadow" form="0" onclick="DelIns()">
                        <i class='fas fa-save'></i>Удалить инструкцию
                    </button>
                </div>




                <div class="input-group wrap-input100 validate-input col-lg-3 col-xl-3 col-md-4 col-6 group">

                    <div class="input-group-prepend ">
                        <div class="input-group-text">
                            <i class="fas fa-calculator"></i>
                        </div>
                    </div>
                    <input type="number" class="form-control input100" id="var" asp-for=@Model.KolVar pattern="[0-9]{6,}" required />
                    <span class="focus-input100"></span>
                    <label class="label">Количество вариантов</label>
                </div>

                <div class="input-group wrap-input100 validate-input col-lg-3 col-xl-3 col-md-4 col-6 group">

                    <div class="input-group-prepend ">
                        <div class="input-group-text">
                            <i class="fas fa-calculator"></i>
                        </div>
                    </div>
                    <input type="number" class="form-control input100" asp-for=@Model.KolZad id="zadan" pattern="[0-9]{6,}" required />
                    <span class="focus-input100"></span>
                    <label class="label">Количество заданий</label>
                </div>

                <div class="input-group wrap-input100 validate-input col-lg-3 col-xl-3 col-md-4 col-6 group" style="height: 42px;">

                    <button href="#" class="btn btn-outline-success input100 btn-icon icon-left shadow" asp-controller="UprSpec" asp-action="IzmKolZadans" id="AddTabel">
                        <i class="fas fa-square-root-alt"></i>
                        <ya-tr-span data-index="147-0" data-value=" Default" data-translation="Сформировать" data-type="trSpan">Сформировать</ya-tr-span>
                    </button>

                    <span class="focus-input100"></span>
                </div>

                <div id="TableCreate" class="col-12 table-responsive-xl">


                </div>


            </div>
            <button id="SaveIsmen" class="btn btn-icon icon-left btn-outline-success col-3 shadow" asp-controller="UprSpec" asp-action="SpecifikacIzmen">
                <i class='fas fa-save'></i>Сохранить изменения
            </button>
        </div>
    </div>

</form>
<div class="modal  fade" id="AddKriter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Дабавить критерий</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="input-group wrap-input100 validate-input col-11 group">
                        <input type="hidden" class="form-control input100" id="id_spec1" asp-for=@Model.Spec.Id />
                        <input type="text" class="form-control input100" id="ballK" required />
                        <span class="focus-input100"></span>
                        <label class="label">Максимальный балл критерия</label>
                    </div>
                    <div class="input-group wrap-input100 validate-input col-11 group">
                        <input type="text" class="form-control input100" id="nameK" required />
                        <span class="focus-input100"></span>
                        <label class="label">Оценка</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" form="0" onclick="SaveK()" data-dismiss="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        generateTable();
    }
    function generateTable() {

        row = document.getElementById("zadan").value;
        coll = document.getElementById("var").value;

        n_spec = document.getElementById("id_spec").value;


        //nazv = document.getElementById("nazv").value;
        //tip = document.getElementById("tip").value;
        //predmet = document.getElementById("predmet").value;
        var model = '@Html.Raw(Json.Serialize(Model.Zadanies))';
        let Zadanies = new Array();
        Zadanies = JSON.parse(model);
        let numbers = new Map();


        for (var i = 0; i < Zadanies.length; i++)
            if (Zadanies[i].text != null) {

                numbers.set(Zadanies[i].variant + "," + Zadanies[i].nomer, 1);
                numbers.set(Zadanies[i].nomer + "b", Zadanies[i].ball);
                numbers.set(Zadanies[i].nomer + "t", Zadanies[i].tema);
                numbers.set(Zadanies[i].nomer + "u", Zadanies[i].urov);

            }
    else
            {

                numbers.set(Zadanies[i].variant + "," + Zadanies[i].nomer, 0);
                numbers.set(Zadanies[i].nomer + "b", Zadanies[i].ball);
                numbers.set(Zadanies[i].nomer + "t", Zadanies[i].tema);
                numbers.set(Zadanies[i].nomer + "u", Zadanies[i].urov);
            }

        console.log(numbers);
        var d = new Date();
        var options = {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric'
        };
        date = d.toLocaleString("ru", options);
        collf = parseInt(coll) + 1;
        idz = nazv + tip + predmet + date;
        if (nazv == "" || tip == "" || predmet == "") {
            alert("Не заполненны поля" + date);
        }
        else {
            var elem = document.getElementById("TabelOtvet");
            if (elem) {
                var zamen = confirm("Удалить и заменить таблицу? Все связи и задания будут удалены");
            }
            if (zamen == false) {

            }
            else {

                if (elem) {
                    elem.remove();
                }
                var table = '<table class="table table-hover table-sm table-bordered shadow" id=\"TabelOtvet\">';
                table += '<thead class="table-yel"><tr><th></th>';
                for (var i = 1; i <= coll; i++) {
                    table += '<th >Вариант ' + i + '</th>';
                }



                table += ' <th width="100px">Количество баллов</th>';
                table += ' <th width="100px">Уровень сложности</th>';
                table += ' <th min-width="350px">Тема задания</th></tr></thead> <tbody>';


                for (var i = 1; i <= row; i++) {

                    table += '<tr class="text-center">';

                    for (var j = 1; j <= collf; j++) {
                        if (j == 1) {
                            table += "<td>" + i + "</td>";
                        }
                        if (j != collf) {

                            if (numbers.get(j + "," +i ) == 1)
                            {

                                table += "<td> <a href=/UprSpec/Zadanie?id_spec=" + n_spec + "&n_var=" + j + "&n_zad=" + i +" class='btn btn-icon btn-sm btn-outline-yel text-center btn-block ' style='wight:100%'>  <i class='fas fa-pencil-alt'></i>Изменить</a></td>";
                            }
                                else {
                                //table += "<td>Создать</td>";
                                table += "<td> <a href=/UprSpec/Zadanie?id_spec=" + n_spec + "&n_var=" + j + "&n_zad=" + i +" class='btn btn-icon btn-sm btn-outline-yel text-center btn-block '><i class='fas fa-plus'></i>Создать</a></td>";
                            }
                        }
                        else {
                            if (numbers.get(i + "b") != null) {
                                table += ' <td class=" wrap-input100 validate-input "><input type="number" class="form-control-sm input100 " id=Ball' + i + ' value=' + numbers.get(i + "b") + ' pattern="[0-9]{1}" required  onchange="changedball(' + i + ',Ball' + i + ')" /><span class="focus-input100"></span></td>';
                            }
                            else {
                                table += ' <td class=" wrap-input100 validate-input "><input type="number" class="form-control-sm input100 " id=Ball' + i + ' value="1" pattern="[0-9]{1}" required  onchange="changedball(' + i + ',Ball' + i + ')" /><span class="focus-input100"></span></td>';
                            }

                            if (numbers.get(i + "u") != null) {
                                ur = numbers.get(i + "u");
                                table += ' <td class=" wrap-input100 validate-input "><input type="text" class="form-control-sm input100 " id=Urov' + i + ' value="' + ur + '"   onchange="changedurov(' + i + ',Urov' + i + ')" /><span class="focus-input100"></span></td>';
                            }
                            else {
                                table += ' <td class=" wrap-input100 validate-input "><input type="text" class="form-control-sm input100 " id=Urov' + i + '  onchange="changedurov(' + i + ',Urov' + i + ')" /><span class="focus-input100"></span></td>';
                            }

                            if (numbers.get(i + "t") != null) {
                                tem = numbers.get(i + "t");
                                table += ' <td class=" wrap-input100 validate-input "><input type="text" class="form-control-sm input100 " id=Tema' + i + ' value="' + tem + '"   onchange="changedtema(' + i + ',Tema' + i + ')" /><span class="focus-input100"></span></td>';
                            }
                            else {
                                table += ' <td class=" wrap-input100 validate-input "><input type="text" class="form-control-sm input100 " id=Tema' + i + '  onchange="changedtema(' + i + ',Tema' + i + ')" /><span class="focus-input100"></span></td>';
                            }






                        }
                    }

                    table += '</tr>';

                }
                table += ' </tbody></table>';
                // document.getElementById('table').innerHTML = table;
                var div = document.createElement("div");
                var TableCreate = document.getElementById("TableCreate");

                TableCreate.innerHTML = table;
                TableCreate.after(div);
            }
        }

    }


    function changedball(n_zad, ball) {
        n_spec = document.getElementById("id_spec").value;

        jQuery.ajax({
            url: '/UprSpec/ChangedBallAjax/',
            type: "POST",
            dataType: "json",
            data: { n_zad: n_zad, n_spec: n_spec, ball:ball.value },
            success: function (data) {
                console.log(data);

            }
        });
    }

    function changedtema(n_zad, tema) {
        n_spec = document.getElementById("id_spec").value;

        jQuery.ajax({
            url: '/UprSpec/ChangedTemaAjax/',
            type: "POST",
            dataType: "json",
            data: { n_zad: n_zad, n_spec: n_spec, tema: tema.value },
            success: function (data) {
                console.log(data);

            }
        });
    }

    function changedurov(n_zad, ur) {
        n_spec = document.getElementById("id_spec").value;

        jQuery.ajax({
            url: '/UprSpec/ChangedUrovAjax/',
            type: "POST",
            dataType: "json",
            data: { n_zad: n_zad, n_spec: n_spec, urov: ur.value },
            success: function (data) {
                console.log(data);

            }
        });
    }
</script>
<script>
    function SaveK() {
        var id_spec1 = document.getElementById("id_spec1").value;
        var nameK = document.getElementById("nameK").value;
        var ballK = document.getElementById("ballK").value;

        jQuery.ajax({
            url: '/UprSpec/AddKriterAjax/',
            type: "POST",
            dataType: "json",
            data: { specK: id_spec1, name: nameK, ball: ballK },
            success: function (query) {
                alert(query);
            }

        });
    }

    function SaveIns() {
        var id_spec1 = document.getElementById("id_spec").value;
        var ins = document.getElementById("Spec_Instrukc").value;

        jQuery.ajax({
            url: '/UprSpec/SaveInstrAjax/',
            type: "POST",
            dataType: "json",
            data: { specK: id_spec1, inst: ins },
            success: function (query) {
                alert(query);
            }

        });
    }
</script>