@model SOTA.Models.RabotaUchenList

@{ ViewData["Title"] = "Назначенные работы"; }

<h1>Список работ</h1>
<form method="post">

    <div class="col-12 shadow p-3 mb-5 bg-white rounded">
        @*<div class="col-12">
                <a id="AddSpec" class="btn btn-outline-success col-3" asp-area="" asp-controller="Rabota" asp-action="RabotaAdd"><i class='fas fa-plus-circle'></i>    Назначить</a>
                <a id="AddSpec" class="btn btn-outline-danger col-3" asp-area="" asp-controller="Rabota" asp-action="RabotaDel"><i class='fas fa-trash'></i>     Удалить</a>
            </div>*@
        <div class="col-12 table-responsive-lg">
            <table class="table table-hover  table-sm table-bordered shadow">
                <thead class="table-yel">
                    <tr>
                        <th>Название работы</th>
                        <th>Предмет</th>
                        <th>Тип</th>
                        <th>Время начала</th>
                        <th>Время окончания</th>
                        <th>Продолжительность, мин.</th>
                        <th>Начать тестирование</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.RabotaTabls != null)
                    {
        @foreach (var row in Model.RabotaTabls)

        {

<tr>
    <td>@row.Name</td>
    <td>@row.PredmN</td>
    <td>@row.TipN</td>
    <td>@row.Nachalo</td>
    <td>@row.Konec</td>
    <td>@row.Dliteln</td>
    <td>
        @if (row.Nachalo >= DateTime.Now)
        {
<a href="" class='btn btn-icon btn-sm btn-outline-yel text-left btn-block disabled'><i class='fas fa-square-root-alt'></i>Работа еще не началась</a> }
else
{
<a asp-route-idRabota="@row.Id" asp-controller="Test" asp-action="Test" class='btn btn-icon btn-sm btn-outline-yel text-left btn-block ' onclick="load(@row.Id);"><i class='fa fa-square-root-alt ' id="i-@row.Id"></i>Открыть</a>}
    </td>
</tr>}}
                </tbody>
            </table>

        </div>
    </div>
    <script>
        function load(id) {
            var ik = document.getElementById('i-' + id + '');
            ik.classList.remove('fa-square-root-alt');
            ik.classList.add('fa-spinner');
            ik.classList.add('fa-spin');
            ik.classList.add('fa-2x');
        };
    </script>
</form>
