@model SOTA.Models.VarintTest;
@{
    ViewData["Title"] = "Тестирование";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/Test/ZagruzkaVigruzka.js"></script>


<div class="container col-12 shadow p-3 mb-5 bg-white rounded h-100">
    <input type="hidden" id="idRabota" asp-for="@Model._idRabota"/>
    <input type="button" asp-controller="Test" asp-action="KonecRabot"asp-for="@Model._idRabota"/>
    <div class="card-body">
        <ul class="nav nav-pills" id="TabForZadan" role="tablist">
        </ul>
        <div class="tab-content  " id="Zadans">


        </div>
        <div class="tab-content  " id="Zadans">

        </div>
    </div>

    <a id="Konec" class="btn btn-outline-success col-3 shadow" asp-controller="Home" asp-action="Index"><i class='fas fa-check'></i> Завершить работу</a>
</div>




<script>
    var OtvVBDMass = new Map();
$("#TabForZadan").on("click", function () {

    GetPredActiveLI();
   // setTimeout(() => GetActiveLI(), 1000);

});
   window.onload = function() {
       VivodZadan();
   }

    function VivodZadan() {

        for (var i = 1; i <= @Model._Zadan.Count; i++) {

            AddTabForZadan(i);
        }


        @foreach (var row in Model._Zadan)
        {

             @:OtvVBDMass.set(@row._idZadan, "@row._otvVBD");

            @: AddTextZadan(@row._nomer, "@row._text",@row._tip,@row._idZadan);

            if (row._tip == 1)
            {
                @:AddZOtvTip1(@row._nomer,"@row._otvVBD");
            }
            if (row._tip == 2)
            {


                int i = 0;
                @:var MyArray = new Array();


                foreach (var str in row._Otv)
                {
                    @:MyArray[@i] = ObjVibOtv(@str._id, "@str._text");
                    i++;

                }


               // @:razborCheck("@row._otvVBD", MyArray);

                @:AddZOtvTip2(MyArray,@row._nomer,"@row._otvVBD");



            }
               if (row._tip == 3)
            {
                int i = 0;
                @:var MyArray = new Array();


                foreach (var str in row._Otv)
                {
                    @:MyArray[@i] = ObjVibOtv(@str._id, "@str._text");
                    i++;

                }


                @:AddZOtvTip3(MyArray,@row._nomer,"@row._otvVBD");


            }

              if (row._tip == 4)
            {
                int i = 0;
                @:var MyArray = new Array();


                foreach (var str in row._Otv)
                {
                    @:MyArray[@i] = ObjVibOtv(@str._id, "@str._text");
                    i++;

                }


                @:AddZOtvTip4(MyArray,@row._nomer,"@row._otvVBD");


            }


             if (row._tip == 5)
            {
                @:AddZOtvTip5(@row._nomer,"@row._otvVBD");
            }

        }
        console.log(OtvVBDMass);
    }

    function ObjVibOtv(id, text, otvVBD) {
        var MyObj = new Object();
        MyObj.id = id;
        MyObj.text = text;
        MyObj.otvVBD = otvVBD;
        return MyObj;
    }
  
    //function razborCheck(StrOtv,MyArray) {


    //    var MassIDOtv = StrOtv.split(";");
    //    for (i = 0; i < MyArray.count;i++){

    //        if (MyArray[i].id in MassIDOtv) {
    //            alert("fdsfs");
    //            MyArray[i].Otv

    //        }
    //    }

    //}

    function AddTextZadan(i, text,tip,id) {
        var divText = document.getElementById('TextZadan[' + i + ']');

        divText.innerHTML = text;
        divText.innerHTML = divText.textContent;
        divText.innerHTML += "<input type='hidden' id='Zad" + i + "Tip' value=" + tip + "  />"
          divText.innerHTML+="<input type='hidden' id='Zad"+i+"ID' value="+id+"  />"








    }

    function AddZOtvTip1(i,text) {

        document.getElementById('OtvetZadan[' + i + ']').innerHTML = "<input type='text' id='Zad"+i+"Otvet'class='form-control input100' value="+text+" ><span class='focus - input100 '></span><label class='label' style='left:10px;'>Ответ</label>";
    }

    function AddZOtvTip2(MyArray, nZad,StrOtv) {

        for (i = 0; i < MyArray.length; i++) {
            var est = null;
            var cheked = "";
            est = StrOtv.indexOf(MyArray[i].id + ";");

            if (est != -1) {
                cheked = "checked";
            }
            document.getElementById('OtvetZadan[' + nZad + ']').innerHTML +=
                "<label class=\"custom-switch mt-2\" style=\"height:28px\"><input type=\"checkbox\" name=\"nZad" + nZad + "ch" +
                i +
                "\" id=\"nZad" + nZad + "ch" +
                i +
            "\" value=" + MyArray[i].id + "  class=\"custom-switch-input\" " + cheked +"><span class=\"custom-switch-indicator\"  > </span >" +
                MyArray[i].text +
                "</label></br>";
        }

    }

    var kolRadioButtonName = 0;
    function AddZOtvTip3(MyArray, nZad, StrOtv) {


        kolRadioButtonName++;
        for (i = 0; i < MyArray.length; i++) {

            var cheked = "";


            if (MyArray[i].id == StrOtv) {

                cheked = "checked";
            }
            document.getElementById('OtvetZadan[' + nZad + ']').innerHTML +=
                ' <div class="custom-control custom-radio custom-control-inline" ><input type="radio" id=\"nZad' + nZad + 'rb' +
                i +
            '\" name="customRadio' + kolRadioButtonName+'" value=\"' + MyArray[i].id + '\" class="custom-control-input" ' + cheked+'><label class="custom-control-label" for=\"nZad' + nZad + 'rb' +
                i +
                '\">' +
                MyArray[i].text +
                '</label></div ></br> ';


        }
    }




    function AddZOtvTip4(MyArray, nZad,StrOtv) {
        for (i = 0; i < MyArray.length; i++) {
            var search = ("ID" + MyArray[i].id + "{=|");
            StrOtv = StrOtv.substring(StrOtv.indexOf(search) + search.length);
            var text = StrOtv.substring(StrOtv.indexOf('|=}'), -(StrOtv.indexOf('|=}')));
            StrOtv = StrOtv.substring(StrOtv.indexOf('|=}'));

            document.getElementById('OtvetZadan[' + nZad + ']').innerHTML +=
                "<label  style=\"height:28px\" >" + MyArray[i].text + "</label><input type='text' name=\"ID" + MyArray[i].id+
                "\" id=\"nZad" + nZad + "tab" +
                i +
            "\" value=" + text+" ></br>";
        }

    }






    function AddZOtvTip5(nZad,StrOtv) {

        document.getElementById('OtvetZadan[' + nZad + ']').innerHTML = "<textarea rows='5'  cols='100' id='nZad" + nZad + "Svb' >" + StrOtv+"</textarea>";
    }




    function AddTabForZadan(i) {

        var TabForZadan = document.getElementById('TabForZadan');
        var li = document.createElement("li");
        li.setAttribute("class", "nav-item");
        if (i == 1)
            li.innerHTML = '<a class="nav-link active" id="Zad' +
                i +
                '-tab" data-toggle="tab" href="#Zad' +
                i +
                '" role="tab" aria-controls="Zad' +
                i +
                '" aria-selected="false">' +
                i +
                '</a>';
        else
            li.innerHTML = '<a class="nav-link" id="Zad' +
                i +
                '-tab" data-toggle="tab" href="#Zad' +
                i +
                '" role="tab" aria-controls="Zad' +
                i +
                '" aria-selected="false">' +
                i +
                '</a>';


        var div = document.createElement("div");
        if (i == 1)
            div.setAttribute("class", "tab-pane fade show active");
        else
            div.setAttribute("class", "tab-pane fade ");
        div.setAttribute("id", "Zad" + i + "");
        div.setAttribute("role", "tabpanel");
        div.setAttribute("aria-labelledby", "Zad" + i);
        div.innerHTML = i;


        div.innerHTML =
            '<div class="container col-12 shadow p-3 mb-5 bg-whitesmoke rounded h-100"><div class="col-12" style="min-height: 200px;" id="TextZadan[' +
            i +
            ']"></div><div class="col-12" style="margin-top: 30px;"  id="OtvetZadan[' +
            i +
            ']"></div></div></div>';


        var Zadans = document.getElementById("Zadans");

        Zadans.appendChild(div);
        TabForZadan.appendChild(li);


    }

    function PredTextZadan(Zadan) {
        var TextZadan = document.getElementById("TextZadanPredprosmotr");
        TextZadan.innerHTML = Zadan.text;

    }

    function PredStrOtv() {
        var OtvetZadan = document.getElementById("OtvetiZadanPredprosmotr");
        OtvetZadan.innerHTML = ' <input type="text" class="form-control input100" />';
    }

    function PredVibOtv(arrOtvBD) {
        var col = 0;
        for (i = 0; i < arrOtvBD.length; i++) {
            if (arrOtvBD[i].verno != 0) {
                col++;
                if (col == 2)
                    break;
            }
        }
        if (col == 2)
            PredVibOtvCheckBox(arrOtvBD);
        else
            PredVibOtvRadio(arrOtvBD);

    }

    function PredVibOtvCheckBox(arrOtvBD) {
        var OtvetZadan = document.getElementById("OtvetiZadanPredprosmotr");
        OtvetZadan.innerHTML = '';
        for (i = 0; i < arrOtvBD.length; i++) {
            OtvetZadan.innerHTML +=
                "<label class=\"custom-switch mt-2\" style=\"height:28px\"><input type=\"checkbox\" name=\"id1ch[" +
                i +
                "]\" id=\"id1ch[" +
                i +
                "]\" value=\"1\"  class=\"custom-switch-input\"><span class=\"custom-switch-indicator\"> </span >" +
                arrOtvBD[i].text +
                "</label></br>";
        }
    }

    function PredVibOtvRadio(arrOtvBD) {

        var OtvetZadan = document.getElementById("OtvetiZadanPredprosmotr");
        OtvetZadan.innerHTML = '';
        for (i = 0; i < arrOtvBD.length; i++) {
            OtvetZadan.innerHTML +=
                ' <div class="custom-control custom-radio custom-control-inline" ><input type="radio" id="id1rad[' +
                i +
                ']" name="customRadio" class="custom-control-input"><label class="custom-control-label" for="id1rad[' +
                i +
                ']">' +
                arrOtvBD[i].text +
                '</label></div></br> ';


        }

    }


    function PredTabOtv(arrOtvBD) {
        row = arrOtvBD.length;
        var elem = document.getElementById("PredTabelOtvet");
        if (elem) {
            elem.remove();
        }
        var table = '<table class="simple-little-table" id=\"PredTabelOtvet\">';

        for (var i = 0; i < row; i++) {

            table += '<tr>';


            table += "<td> <label class=\"custom -switch mt - 2\">" +
                arrOtvBD[i].text +
                "<\label><input name= \"TabOtvRow[" +
                i +
                "]\" id= \"TabOtvRow[" +
                i +
                "]\"/> </td>";


            table += '</tr>';

        }
        table += '</table>';

        var div = document.createElement("div");
        var TableCreate = document.getElementById("OtvetiZadanPredprosmotr");
        div.innerHTML = table;
        TableCreate.after(div);

    }

    function PredSvbOtv() {
        var OtvetZadan = document.getElementById("OtvetiZadanPredprosmotr");
        OtvetZadan.innerHTML = ' <textarea rows="5" cols="100" ></textarea>';
    }
</script>
