@model SOTA.Models.Pages.Test.ResultTest

@{
    ViewData["Title"] = "Результаты";
}

<h1>Результаты</h1>
<form method="post">

    <div class="col-12 shadow p-3 mb-5 bg-white rounded">

        <div class="col-12 table-responsive-lg m-l-r-auto">
            <table class="table table-hover  table-sm table-bordered shadow align-content-center text-center">
                <thead class="table-yel">
                    <tr>
                        <th width="10%">Номер задания</th>
                        <th width="10%">Балл</th>
                        <th width="10%">Максимальный балл</th>
                        <th width="30%">Тема</th>
                        <th width="10%">Уровень</th>
                        <th width="30%">Рекомендации</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Result != null)
                    {

                        double i = 0;
                        double mi = 0;

                    @foreach (var row in Model.Result)
                        {
                            if (ViewBag.dateK < DateTime.Now)
                            {
                    <tr>
                        <td>@row.Number</td>
                        <td>@row.Ball</td>
                        <td>@row.MaxBall</td>
                        <td>@row.Tema</td>
                        <td>@row.Urov</td>
                        <td>@if (row.Ball == 0) { @row.RekomU; }</td>

                   </tr>
                        }
                        i = i + row.Ball;
                        mi = mi + row.MaxBall;
                    }
                    <tr class="table-success">
                        <td>Всего </td>
                        <td colspan="4">@i из @mi </td>
                        <td>
                            @if (ViewBag.dateK > DateTime.Now)
                                {
                            <p>Результаты по заданиям будут доступны после</p>  @ViewBag.dateK
                                }
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot class=" ">

                </tfoot>
            </table>
        </div>

    </div>
</form>
