@model SOTA.Models.RabotaList

@{
    ViewData["Title"] = "Список работ";
}

<h1>Список работ</h1>
<form method="post">

    <div class="col-12 shadow p-3 mb-5 bg-white rounded">
        <div class="col-12">
            <a id="AddSpec" class="btn btn-outline-success col-4 shadow" asp-area="" asp-controller="Rabota" asp-action="RabotaSozdan"><i class='fas fa-plus-circle'></i>    Назначить работу</a>
            <a id="AddSpec" class="btn btn-outline-danger col-4 shadow" onclick="Del()"><i class='fas fa-trash'></i>     Удалить работу</a>
        </div>
        <div class="col-12 table-responsive-lg">
            <table class="table table-hover  table-sm table-bordered shadow align-content-center text-center">
                <thead class="table-yel">
                    <tr>
                        <th></th>
                        <th>Название работы</th>
                        <th>Спецификация</th>
                        <th>Предмет</th>
                        <th>Уровень организации</th>
                        <th>Время начала</th>
                        <th>Время окончания</th>
                        <th>Продолжительность, мин.</th>
                        <th>Дата создания/ редактирования</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Rabotas != null)
                    {
                        @foreach (var row in Model.Rabotas)

                        {

                            <tr>
                                <td><input type="checkbox" class="DEL" value="@row.Id" /></td>
                                <td><a href="/Rabota/RabotaRedact?IdRabota=@row.Id" class='btn btn-icon btn-sm btn-outline-yel text-left btn-block'><i class='fas fa-pencil-alt'></i>@row.Name </a></td>
                                <td>
                                    @if (row.IdSpec != 0)
                                    {
                                        @row.IdSpec;
                                    }
                                    else
                                    { @Html.Raw("Не выбрана спецификация");
                                }
                                </td>
                                <td>
                                    @if (row.IdSpec != 0)
                                    {
                                        //@Model.Predms.Where(x => x.Id == Model.Specs.Where(y => y.Id == row.IdSpec).First().Predm).First().Name
                                    }
                                    else
                                    {@Html.Raw("<span>Не выбрана спецификация</span>");
                                }
                                </td>
                                <td>@row.UrovenRabot</td>
                                <td>@row.Nachalo</td>
                                <td>@row.Konec</td>
                                <td>@row.Dliteln</td>
                                <td>@row.Sozd</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        

    </div>
    <script>
        function Del() {
            var a = document.querySelectorAll('input.DEL:checked');
            var outMO = []; //выходной массив
            for (var x = 0; x < a.length; x++) { //перебераем все объекты
                outMO.push(a[x].value); //добавляем значения в выходной массив
            }
            console.log(outMO);

            jQuery.ajax({
                url: '/Rabota/RabotaDel/',
                type: "POST",
                dataType: "json",
                data: { Id: outMO },
                success: function (query) {
                    alert("Запись удалена");
                    location.reload();
                }

            });
        }
    </script>
</form>
